/* barra de navegacion */

@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

#div-principal {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  max-width: 100%;
  opacity: 1;
}

body.is-menu-visible #div-principal {
  opacity: 0.15;
}

@media screen and (max-width: 1280px) {
  #div-principal {
    display: block;
  }
}

/* Reset */

.dropdown-button {
  background: transparent;
}

.desaparece {
  display: none !important;
}

.h1f,
.h3f,
.parrafof,
.ancla-navf,
#headerf {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#headerf,
.mainf,
.sectionf {
  display: block;
}

.ulf {
  list-style: none;
}

/* Basic */

@media screen and (max-width: 480px) {
  #headerf,
  .sectionf {
    min-width: 320px;
  }
}

#headerf {
  background: #f39189 !important;
}

/* Type */

#headerf,
.sectionf {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.75;
}

.decoration-non > .ancla-navf {
  text-decoration: none;
}

@media screen and (max-width: 1680px) {
  #headerf,
  .sectionf {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1280px) {
  #headerf,
  .sectionf {
    font-size: 12pt;
  }
}

@media screen and (max-width: 980px) {
  #headerf,
  .sectionf {
    font-size: 12pt;
  }
  .desaparece {
    display: block !important;
  }
}

@media screen and (max-width: 736px) {
  #headerf,
  .sectionf {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  #headerf,
  .sectionf {
    font-size: 12pt;
  }
}

.ancla-navf {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
  color: inherit;
  text-decoration: none;
}

.ancla-navf:before {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.ancla-navf:hover {
  border-bottom-color: transparent;
  color: #a6fff8 !important;
}

.ancla-navf:hover:before {
  color: #a6fff8 !important;
}

.parrafof {
  margin: 0 0 2em 0;
}

.ancla-h1f:hover {
  color: #a6fff8 !important;
}

.h1f,
.h3f {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.h1f .ancla-navf,
.h3f .ancla-navf {
  color: inherit;
  border-bottom: 0;
}

.h3f {
  font-size: 0.9em;
}

/* Button */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease, box-shadow 0.2s ease,
    color 0.2s ease;
  -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease,
    color 0.2s ease;
  -ms-transition: background-color 0.2s ease, box-shadow 0.2s ease,
    color 0.2s ease;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  background-color: transparent;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
  color: #3c3b3b !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 800;
  height: 4.8125em;
  letter-spacing: 0.25em;
  line-height: 4.8125em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover {
  box-shadow: inset 0 0 0 1px #2ebaae;
  color: #2ebaae !important;
}

.button:hover:active {
  background-color: rgb(255, 255, 255);
}

.button:before,
.button:after {
  color: #ffffff;
  position: relative;
}

.button:before {
  left: -1em;
  padding: 0 0 0 0.75em;
}

.button:after {
  left: 1em;
  padding: 0 0.75em 0 0;
}

.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

.button.big {
  font-size: 0.7em;
  padding: 0 3em;
}

.button.small {
  font-size: 0.5em;
}

.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  color: rgba(160, 160, 160, 0.3) !important;
}

.button:disabled:before {
  color: rgba(160, 160, 160, 0.3) !important;
}

.ulf {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

.ulf .lif {
  padding-left: 0.5em;
}

.ulf.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

.ulf.actions .lif {
  display: inline-block;
  padding: 0 1.5em 0 0;
  vertical-align: middle;
}

.ulf.actions .lif:last-child {
  padding-right: 0;
}

.ulf.actions.pagination .next {
  text-decoration: none;
}

.ulf.actions.pagination .next:after {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.ulf.actions.pagination .next:after {
  content: "\f054";
}

.ulf.actions.pagination .previous {
  text-decoration: none;
}

.ulf.actions.pagination .previous:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.ulf.actions.pagination .previous:before {
  content: "\f053";
}

@media screen and (max-width: 1280px) {
  .ulf.actions.pagination {
    text-align: center;
  }

  .ulf.actions.pagination .next,
  .ulf.actions.pagination .previous {
    min-width: 20em;
  }
}

@media screen and (max-width: 736px) {
  .ulf.actions.pagination .next,
  .ulf.actions.pagination .previous {
    min-width: 18em;
  }
}

.ulf.actions.small .lif {
  padding: 0 1em 0 0;
}

.ulf.actions.vertical .lif {
  display: block;
  padding: 1.5em 0 0 0;
}

.ulf.actions.vertical .lif:first-child {
  padding-top: 0;
}

.ulf.actions.vertical .lif > * {
  margin-bottom: 0;
}

.ulf.actions.vertical.small .lif {
  padding: 1em 0 0 0;
}

.ulf.actions.vertical.small .lif:first-child {
  padding-top: 0;
}

.ulf.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

.ulf.actions.fit .lif {
  display: table-cell;
  padding: 0 0 0 1em;
}

.ulf.actions.fit .lif > * {
  margin-bottom: 0;
}

.ulf.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

.ulf.actions.fit.small .lif {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  .ulf.actions {
    margin: 0 0 2em 0;
  }

  .ulf.actions .lif {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  .ulf.actions .lif:first-child {
    padding-top: 0;
  }

  .ulf.actions .lif > * {
    width: 100%;
    margin: 0 !important;
  }

  .ulf.actions.small .lif {
    padding: 0.5em 0 0 0;
  }

  .ulf.actions.small .lif:first-child {
    padding-top: 0;
  }
}

#headerf .parrafof {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

/* headerf */

#headerf {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#headerf .ancla-navf {
  color: inherit;
  text-decoration: none;
}

#headerf .ulf {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#headerf .ulf .lif {
  display: inline-block;
  padding-left: 0;
}

#headerf .h1f {
  height: inherit;
  line-height: inherit;
  padding: 0 0 0 1.5em;
  white-space: nowrap;
}

#headerf .h1f .ancla-navf {
  font-size: 0.7em;
}

#headerf .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: solid 1px rgba(255, 255, 255, 0.795);
  height: inherit;
  line-height: inherit;
  margin-left: 1.5em;
  overflow: hidden;
  padding-left: 1.5em;
}

#headerf .links .ulf .lif {
  border-left: solid 1px rgba(255, 255, 255, 0.795);
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}

#headerf .links .ulf .lif:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#headerf .links .ulf .lif .ancla-navf {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#headerf .mainf {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

#headerf .mainf .ulf {
  height: inherit;
  line-height: inherit;
}

#headerf .mainf .ulf .lif {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  line-height: inherit;
  white-space: nowrap;
}

#headerf .mainf .ulf .lif > * {
  display: block;
  float: left;
}

#headerf .mainf .ulf .lif > .ancla-navf {
  text-decoration: none;
  border-bottom: 0;
  color: #aaaaaa;
  overflow: hidden;
  position: relative;
  text-indent: 4em;
  width: 4em;
}

#headerf .mainf .ulf .lif > .ancla-navf:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#headerf .mainf .ulf .lif > .ancla-navf:before {
  display: block;
  height: inherit;
  left: 0;
  line-height: inherit;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: inherit;
}

#headerf #search {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

#headerf #search.visible {
  max-width: 12.5em;
  opacity: 1;
  padding: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {
  #headerf .links {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #headerf {
    height: 2.75em;
    line-height: 2.75em;
  }

  #headerf .h1f {
    padding: 0 0 0 1em;
  }

  #headerf .mainf .search {
    display: none;
  }
}

/* menu */

#menu {
  -moz-transform: translateX(25em);
  -webkit-transform: translateX(25em);
  -ms-transform: translateX(25em);
  transform: translateX(25em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 25em;
  z-index: 10002;
}

#menu > * {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  padding: 3em;
}

#menu > * > :last-child {
  margin-bottom: 0;
}

#menu > :first-child {
  border-top: 0;
}

#menu .links {
  list-style: none;
  padding: 0;
}

#menu .links > .lif {
  border: 0;
  border-top: dotted 1px rgba(160, 160, 160, 0.3);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
}

#menu .links > .lif .ancla-navf {
  display: block;
  border-bottom: 0;
}

#menu .links > .lif .ancla-navf,
.h3f {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 1.5em;
}

#menu .links > .lif .ancla-navf,
.parrafof {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}

#menu .links > .lif .ancla-navf:hover .h3f {
  color: #2ebaae;
}

#menu .links > .lif:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

@media screen and (max-width: 736px) {
  #menu > * {
    padding: 1.5em;
  }
}

/* index */

.titulo_datos {
  color: #007580;
}

/* .body_index {
  background: #e4d3cf;
} */

.container {
  margin-top: 150px;
}

.active {
  color: #4b0025 !important;
  font-weight: bold;
}

.texto_distancia,
.texto_fecha {
  font-size: 35px;
}

.titulo_distancia,
.titulo_fecha {
  color: #a98b98;
  font-weight: bold;
}

.card {
  background: #edffec;
}

/* registros */

th {
  background: #865858;
  color: #f5deb3;
}

/* Objetivo */

.body_objetivo {
  background: #e4d3cf;
}

.titulo_objetivo {
  font-size: 60px;
}

.texto_objetivo {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}

/* Circuito */

.body_circuito {
  background: #fed049;
}

.icono {
  position: absolute;
  bottom: 35%;
  right: 0%;
  font-size: 30px;
  cursor: zoom-in;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}
.icono:active {
  outline: none;
}
.icono:focus {
  outline: none;
}

.icono2 {
  position: absolute;
  top: 45%;
  right: 0%;
  font-size: 30px;
  cursor: zoom-in;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}
.icono2:active {
  outline: none;
}
.icono2:focus {
  outline: none;
}
.zoom img {
  cursor: zoom-in;
}
.boton-icono {
  display: none;
}
